@model IEnumerable<CRVS.Core.Models.District>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>

    <a asp-action="Recovary3">Deleted3</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.IsDeleted2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictName)
                </td>


                <th>

                    @if (item.IsDeleted2 == true)
                    {
                        <a asp-action="RecovaryDeleted2" asp-route-id="@item.DistrictId" class="text-success">Restore</a>
                    }

                    else
                    {
                        <a asp-action="Recycle" asp-route-id="@item.DistrictId" class="text-danger">Not Deleted</a>


                    }


                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DistrictId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.DistrictId">Details</a>
                    <a asp-action="SoftDelete3" asp-route-id="@item.DistrictId">Soft Delete 3</a>
                    <a asp-action="Delete" asp-route-id="@item.DistrictId">Delete</a>
                    @*<a asp-action="History" asp-route-id="@item.DohId">History</a>*@
                    @*<a asp-action="Recovary" asp-route-id="@item.DohId">Recovary</a>*@

                </td>

            </tr>
        }

    </tbody>
</table>


