@model IEnumerable<CRVS.Core.Models.Doh>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="AllActivate">Activate</a>
    <a asp-action="AllNotActivate">NotActivate</a>
    <a asp-action="Recovary">Deleted</a>
    <a asp-action="Recovary2">Deleted2</a>
    <a asp-action="Recovary3">Deleted3</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DohName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DohName)
                </td>
                <th>

                    @if (item.IsActive == true)
                    {
                        <a asp-action="DeActivate" asp-route-id="@item.DohId" class="text-success">Active</a>
                    }

                    else
                    {
                        <a asp-action="Activate" asp-route-id="@item.DohId" class="text-danger">Not Active</a>


                    }
                <td>
                <th>
                    <td>
                    <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.DohId">Edit</a>
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.DohId">Details</a>
                                                @*<a asp-action="Delete"class="btn btn-danger" asp-route-id="@item.DohId">Delete</a>*@
                                    @*<a asp-action="History" class="btn btn-primary" asp-route-id="@item.DohId">History</a>*@
                    <a asp-action="SoftDelete" class="btn btn-danger" asp-route-id="@item.DohId">Soft Delete</a>

                    </td>
            </tr>
        }
    </tbody>
</table>


