@model IEnumerable<CRVS.Core.Models.Nahia>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="AllActivate">Activate</a>




</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NahiaName)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NahiaName)
                </td>


                <th>

                    @if (item.IsActive == true)
                    {
                        <a asp-action="DeActivate" asp-route-id="@item.NahiaId" class="text-success">Active</a>
                    }

                    else
                    {
                        <a asp-action="Activate" asp-route-id="@item.NahiaId" class="text-danger">Not Active</a>


                    }


                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NahiaId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.NahiaId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.NahiaId">Delete</a>
                    <a asp-action="History" asp-route-id="@item.NahiaId">History</a>
                </td>
            </tr>
        }
    </tbody>
</table>


